body {
    background-color: darkslategray;
    text-align:justify;
    font-family: Brush Script MT;
}

h1 {
    font-size: xx-large;
}

h2 {
    text-align: center;
    font-size:xx-large;
}

img {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    max-height: 45%; 
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 45%;
    max-height: 45%;   
}

g {
    color: black;
}


g:hover, circle:hover, ellipse:hover {
    fill: blue;
  }


  .melody {
    background-color: darkslategrey;
    background-image: -webkit-linear-gradient(top, #237c7c, rgb(47, 79, 79));
    background-image: -moz-linear-gradient(top, #237c7c, rgb(47, 79, 79));
    background-image: -ms-linear-gradient(top, #237c7c, rgb(47, 79, 79));
    background-image: -o-linear-gradient(top, #237c7c, rgb(47, 79, 79));
    background-image: -webkit-gradient(to bottom, #237c7c, rgb(47, 79, 79));
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    color: #FFFFFF;
    font-family: Brush Script MT;
    font-size: 40px;
    font-weight: 100;
    padding: 40px;
    -webkit-box-shadow: 1px 1px 20px 0 #000000;
    -moz-box-shadow: 1px 1px 20px 0 #000000;
    box-shadow: 1px 1px 20px 0 #000000;
    text-shadow: 1px 1px 20px #000000;
    border: solid #337FED 1px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
 }
 
 .melody:hover {
    border: solid #337FED 1px;
    background: #1E62D0;
    background-image: -webkit-linear-gradient(top, rgb(47, 79, 79), #3d43f6);
    background-image: -moz-linear-gradient(top, rgb(47, 79, 79), #3d43f6);
    background-image: -ms-linear-gradient(top, rgb(47, 79, 79), #3d43f6);
    background-image: -o-linear-gradient(top, rgb(47, 79, 79), #3d43f6);
    background-image: -webkit-gradient(to bottom, rgb(47, 79, 79), #3d43f6);
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    border-radius: 20px;
    text-decoration: none;
 }